<section class="hero">
  <div class="container hero-container">
    <div class="content">
      <h1 class="hero-header">Discover Your Next Favorite Artist Today</h1>
      <p class="hero-descr">
        Dive into a world of music discoveries with ArtistsHub - your personal
        guide to the boundless universe of sound. Explore, filter, and learn
        about your favorite artists all in one place.
      </p>
      <a class="hero-btn" href="#">
        Explore Artists
        <svg class="hero-icon">
          <use href="/img/sprite.svg#icon-right-arrow"></use>
        </svg>
      </a>
    </div>
    <div class="photo-bg"></div>
  </div>
</section>
