.about {
    padding-top: 64px;
    padding-bottom: 64px;
    scroll-margin-top: 64px;
}



.about-container {
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 48px;
}


.about-logo {
    width: 64px;
    height: 64px;
    fill: #fff;
    margin-bottom: 20px;

}

.about-title {
    font-family: "Epilogue", sans-serif;
    font-weight: 700;
    font-size: 44px;
    line-height: 1.2;
    letter-spacing: -0.01em;
    color: #fff;
    margin-bottom: 20px;

}

.about-descr {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    color: #fff;
}

/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {




    .about-container {
        padding-left: 32px;
        padding-right: 32px;
        gap: 24px;
    }

    .about-logo {
        width: 80px;
        height: 80px;
        margin-bottom: 24px;
    }

    .about-title {
        margin-bottom: 24px;
    }



    .about-descr {

        font-size: 20px;

    }
}

/* Styles for Desktop devices */
@media only screen and (min-width: 1440px) {
    .about {
        padding-top: 112px;
        padding-bottom: 112px;
        scroll-margin-top: 72px;
    }

    .about-content {
        width: 640px;
    }



    .about-container {
        padding-left: 64px;
        padding-right: 64px;
        flex-wrap: nowrap;
        align-items: center;
        gap: 32px;

    }

    .about-title {
        font-size: 60px;
    }

    .about-descr {

        font-size: 20px;

    }
}