.artists {
    padding-top: 64px;
    padding-bottom: 64px;
    scroll-margin-top: 64px;
}

.artists-title {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    color: #fff;
    margin-bottom: 16px;
}

.artists-subtitle {
    font-family: "Epilogue", sans-serif;
    font-weight: 700;
    font-size: 44px;
    line-height: 1.2;
    letter-spacing: -0.01em;
    margin-bottom: 32px;
}

.artists-list {
    display: flex;
    gap: 64px;
    flex-wrap: wrap;
}

.artists--photo {
    border-radius: 16px;
    width: 288px;
    height: 177px;
    object-fit: cover;
    object-position: top;
    margin-bottom: 24px;
}

.artists--genres {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 16px;
    margin-bottom: 16px;
}

.artists--genres__item {
    padding: 4px 10px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 6px;
    background: rgba(255, 255, 255, 0);
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    color: #fff;
}



.artists--name {
    font-family: "Epilogue", sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 1.3;
    letter-spacing: -0.01em;
}

.artists--descr {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    color: #fff;
    margin-bottom: 24px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.artist--btn {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 0;
    border: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.5;
    color: #fff;
    background-color: transparent;

}

.hero-icon {
    fill: #fff;
    width: 24px;
    height: 24px;
    padding: 5px 8px;
}


.loader {

    margin: 10px auto;

    width: 40px;
    aspect-ratio: 1;
    outline: 2px solid #fff;
    background:
        radial-gradient(farthest-side, #000 90%, #0000) 0 0/8px 8px no-repeat,
        conic-gradient(from 90deg at 10px 10px, #0000 90deg, #fff 0),
        conic-gradient(from -90deg at 30px 30px, #0000 90deg, #fff 0);
    animation: l1 1.5s infinite;
    margin-top: 42px;
    display: none;
}

.moreButton {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.5;
    gap: 12px;
    border: none;
    color: #fff;
    border-radius: 12px;
    padding: 10px 24px;
    width: 288px;
    height: 47px;
    box-shadow: 0 1px 2px 0 rgba(6, 3, 7, 0.05), inset 0 -2px 1px 0 rgba(0, 0, 0, 0.2), inset 0 0 0 1px rgba(6, 3, 7, 0.15), inset 0 2px 1px 0 rgba(255, 255, 255, 0.25), inset 0 32px 24px 0 rgba(255, 255, 255, 0.05);
    background: #764191;
    margin-top: 42px;
    display: none;
}

.more-btn-icon {
    fill: #fff;
    width: 14px;
    height: 15px;
}

.loader.visible, .moreButton.visible {
    display: block;

}


@keyframes l1 {
    0% {
        background-position: 0 0
    }

    25% {
        background-position: 100% 0
    }

    50% {
        background-position: 100% 100%
    }

    75% {
        background-position: 0 100%
    }

    100% {
        background-position: 0 0
    }
}


.icon {
    fill: #fff;
}

.search-icon {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
}

.genre-icon, .sorting-icon {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 8px;
    right: 12px;

}

.rotete-icon {
    transform: rotate(180deg);
}

.artists-filters {
    display: flex;
    flex-direction: column;
    gap: 12px;
    position: relative;
    margin-bottom: 16px;
}

.arists-first-content {
    display: flex;
    justify-content: space-between;
}

.artists-filters__title {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.5;
    color: #fff;
}

.artists-filters-btn___reset {
    font-family: "IBM Plex Sans", sans-serif;

    font-weight: 500;
    font-size: 18px;
    line-height: 1.5;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #fff;
    background-color: transparent;
    border: none;
}

.artists-filters-btn {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.5;
    color: #fff;
    border-radius: 12px;
    padding: 10px 24px;
    width: 288px;
    height: 47px;
    box-shadow: 0 1px 2px 0 rgba(6, 3, 7, 0.05), inset 0 -2px 1px 0 rgba(6, 3, 7, 0.05), inset 0 0 0 1px rgba(255, 255, 255, 0.1);
    background: rgba(255, 255, 255, 0.1);
    border: none;
}

.artists-filters-content {
    /* position: absolute;
    top: 90px; */
    border-radius: 12px;
    padding: 12px;
    height: auto;
    width: 289px;
    background: #1e1c1f;
    display: flex;
    flex-direction: column;
    gap: 12px;
    display: none;
}

.artists-filters-search-box {
    position: relative;
}

.artists-filters-search-box input {

    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 12px;
    padding: 8px 12px;
    padding-left: 48px;
    width: 265px;
    height: 48px;
    background: rgba(255, 255, 255, 0);
    color: rgba(255, 255, 255, 0.6);

    &:placeholder {
        font-weight: 400;
        font-size: 18px;
        line-height: 1.5;
        color: rgba(255, 255, 255, 0.6);
    }
}



.custom-sort-dropdown {
    position: relative;
}

.dropdown-selected-sort {
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 12px;
    padding: 8px 12px;
    width: 265px;
    height: 43px;
}



.dropdown-options-sort {
    display: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    border-left: 1px solid rgba(255, 255, 255, 0.2);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 0 0 16px 16px;
    padding: 24px;
    width: 265px;
    height: 161px;
    background: #1e1c1f;
}



.dropdown-options-sort li {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    color: #fff;
}

.dropdown-options-sort li:hover {
    background-color: #3a3a3a;
}


.genre-dropdown {
    position: relative;
}

.genre-dropdown-title {
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 12px;
    padding: 8px 12px;
    width: 265px;
    height: 43px;

    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    color: #fff;
    position: relative;
}

.genre-dropdown-options-genre {

    scrollbar-width: thin;
    scrollbar-color: #e0e0e0 #060307;
    scroll-behavior: smooth;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    border-left: 1px solid rgba(255, 255, 255, 0.2);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 0 0 16px 16px;
    padding: 24px;
    width: 265px;
    height: 376px;
    background: #1e1c1f;
    overflow: auto;
    display: none;

}

.opensort {
    border-radius: 12px 12px 0 0;
}

.open {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.genre-dropdown-options-genre li {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    color: #fff;
}

.genre-dropdown-options-genre li:hover {
    background-color: #3a3a3a;
}

.filter-not-found {
    border-radius: 16px;
    padding: 16px;
    width: 288px;
    height: 417px;
    background: #23132b;

    flex-direction: column;
    gap: 24px;
    display: none;

}

.filter-not-found.visible {
    display: flex;
}

.info-icon {
    width: 40px;
    height: 40px;
}



.not-found-title {
    font-family: "Epilogue", sans-serif;

    font-weight: 700;
    font-size: 32px;
    line-height: 1.2;
    letter-spacing: -0.01em;
    color: #fff;
}

.not-found-descr {
    font-weight: 400;
    font-size: 20px;
    line-height: 1.5;
    color: #fff;
}

.not-found-btn-reset {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.5;
    color: #060307;
    box-shadow: 0 1px 2px 0 rgba(6, 3, 7, 0.05), inset 0 -2px 1px 0 rgba(0, 0, 0, 0.2), inset 0 0 0 1px rgba(6, 3, 7, 0.15), inset 0 2px 1px 0 rgba(255, 255, 255, 0.25), inset 0 32px 24px 0 rgba(255, 255, 255, 0.05);
    background: #f2f2f2;
    border-radius: 12px;
    padding: 10px 24px;
    width: 256px;
    height: 47px;
    border: none;
}

/* Контейнер пагінації */
.artists-content .tui-pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 48px;

    gap: 4px;
    margin: 20px 0;

    background-color: transparent;
}

/* Кнопки сторінок */
.custom-page {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.5;
    color: #fff;
    padding: 10px 12px;

    height: 47px;
    text-decoration: none;
    border-radius: 8px;
    transition: background 0.3s, color 0.3s;
}

.custom-page:hover {
    background: #333;
    color: white;
}

/* Активна сторінка */
.custom-page.active {
    border-radius: 12px;

    box-shadow: 0 1px 2px 0 rgba(6, 3, 7, 0.05), inset 0 -2px 1px 0 rgba(6, 3, 7, 0.05), inset 0 0 0 1px rgba(255, 255, 255, 0.1);
    background: rgba(255, 255, 255, 0.1);
}

/* Стрілки "←" і "→" */
.custom-move {
    border: 1px solid rgba(6, 3, 7, 0.15);
    border-radius: 8px;

    width: 24px;
    height: 24px;
}

.tui-pagination .first, .tui-pagination .last {
    display: none !important;
}

.custom-move .custom-move-icon {
    fill: #fff;
    width: 24px;
    height: 25px;
}

.prev .custom-move-icon {
    transform: rotate(90deg);
}

/* .first .custom-move-icon {
    fill: transparent;
} */


.next .custom-move-icon {
    transform: rotate(-90deg);
}

.custom-move:hover {
    background-color: #333;
}

/* Вимкнені стрілки */
.custom-disabled {
    color: #555;
    padding: 6px 10px;
    opacity: 0.5;
    cursor: not-allowed;
}

/* Кнопка "..." */
.custom-more {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.5;
    color: #fff;
    align-content: center;
    width: 16px;
    height: 47px;
}

.artists-content .tui-pagination .tui-first-child,
.artists-content .tui-pagination .tui-last-child {
    border: none;
}

.scroll-top-btn {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 40px;
    right: 40px;
    padding: 16px 16px;
    font-size: 24px;
    background: #333;
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s;
    z-index: 1000;
}

.scroll-btn-icon {
    width: 24px;
    height: 24px;
    transform: rotate(180deg);
    fill: #fff;
    opacity: 0.8;
}

.scroll-top-btn.visible {
    opacity: 1;
    pointer-events: auto;
}

/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
    .artists-content .tui-pagination {
        justify-content: center;
    }

    .custom-page {
        padding: 10px 24px;
    }

    /* Кнопка "..." */
    .custom-more {
        font-weight: 500;
        font-size: 18px;
        line-height: 1.5;
        color: #fff;
        padding: 10px 24px;
        width: 59px;
        height: 47px;
    }

    /* Кнопки сторінок */
    .custom-page {
        font-weight: 500;
        font-size: 18px;
        line-height: 1.5;
        color: #fff;
        padding: 10px 24px;

        height: 47px;
        text-decoration: none;
        border-radius: 8px;
        transition: background 0.3s, color 0.3s;
    }

    /* Стрілки "←" і "→" */
    .custom-move {
        border: 1px solid rgba(6, 3, 7, 0.15);
        border-radius: 8px;
        padding: 12px;
        width: 48px;
        height: 48px;
    }

    .artists-list {
        gap: 32px;
    }

    .artists--photo {
        width: 704px;
        height: 432px;
    }

    .moreButton {
        width: 340px;
        margin: 0 auto;
        margin-top: 48px;
    }

    .artists-filters-btn {
        margin-left: auto;
        width: 233px;
    }

    .filter-not-found {
        width: 704px;
        height: 341px;
        padding: 32px;
    }

    .not-found-btn-reset {
        width: 148px;
        height: 47px;
    }

    .artists-filters-content {
        margin-left: auto;
    }
}

/* Styles for Desktop devices */
@media only screen and (min-width: 1440px) {

    .artists-container-content {
        display: flex;
        gap: 32px;
    }

    .artists-filters {
        flex: 0 304px
    }

    .artists-content {
        flex: 1;
    }

    .artists {
        scroll-margin-top: 72px;
    }

    .artists-subtitle {
        font-size: 60px;
        width: 523px;
        margin-bottom: 80px;
    }

    .artists--photo {
        width: 472px;
        height: 290px;

    }

    .artists--list__item {
        width: 472px;
    }

    .moreButton {
        width: 170px;

    }

    .artists-filters-btn {
        margin-left: 0;
        width: 304px;
        display: none;
    }

    .artists-filters-content {
        /* display: flex; */
        width: 304px;
        background-color: transparent;
        padding: 0;
    }

    .genre-dropdown-options-genre {
        width: 304px;
        background-color: transparent;
        height: 376px;
    }

    .dropdown-options-sort {
        width: 304px;
        background-color: transparent;
    }

    .dropdown-selected-sort, .artists-filters-content input {
        width: 304px;
    }

    .genre-dropdown-title {
        width: 304px;
    }

    .filter-not-found {
        width: 976px;
        height: 341px;

    }

    .not-found-btn-reset {
        width: 148px;
        height: 47px;
    }

    .artists-filters-content {
        margin-left: 0;
    }
}